{% extends 'base.html' %}
{% block content %}
    <div id="Btn" onclick="trylogout()"><button id="logout_b1">登出</button></div>
    <div class="alert" id="textlistn" style="display:none;">
        {% for msg in messages %}{{ msg.message }}{% endfor %}
        <button type="submit" id="logout_b2"> <a href='logout/'>登出</a></button>
        <span class="closebtn" onclick="trylogout()">&times;</span>
    </div>

    {% if request.user.identity == 1 %}
        <h1>夥伴頁面</h1>
        <div style="display: flex;">
            <button type="submit"><a href="list/">旗下品牌清單</a></button>
        </div>
        <div style="margin: 10px 0 0 0;">
            <h3>夥伴資訊</h3>
            <p>帳號：{{ request.user.username }}</p>
            <p>名稱：{{ request.user.last_name }}</p>
            <p>電子信箱：{{ request.user.email }}</p>
            <p>電話號碼：{{ request.user.phone_number }}</p>
            <p>統一編號：{{ request.user.tax_ID_number }}</p>
            <p>地址：{{ request.user.address}}</p>


            <div style="display: flex;">
                <button type="submit"> <a href='update_user_infor/'>更新資料</a></button>
                <div id="Btn2" onclick="trydelete()"><button id="delete_1">刪除夥伴</button></div>
                <div class="alert" id="textlistn2" style="display:none;">
                    {% for msg in messages %}{{ msg.message }}{% endfor %}
                    <button type="submit" id="delete_b2"> <a href='delete_user/'>刪除</a></button>
                    <span class="closebtn" onclick="trydelete()">&times;</span>
                </div>
                <button type="submit"> <a href='../../GetHand/'>前往抓取手部比例</a></button>
            </div>

            {% if request.user.is_staff %}
                {% for user in user_list %}
                    <li>{{ user.username}}</li>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}


    {% if request.user.identity == 0 %}
        <h1>會員頁面</h1>

        <div style="display: flex; position: relative;margin: 10px 0 0 0;"> <!--會員資訊大欄-->

            <div> <!-- 身份資料（左） -->
                <h3>會員資訊</h3>
                <p>帳號：{{ request.user.username }}</p>
                <p>名稱：{{ request.user.last_name }}</p>
                <p>電子信箱：{{ request.user.email }}</p>
                <p>生日：{{ request.user.date_of_birth }}</p>
                {% if request.user.gender == 0 %}
                    <p>性別：生理女</p>
                {% endif %}
                {% if request.user.gender == 1 %}
                    <p>性別：生理男</p>
                {% endif %}
                <p>電話號碼：{{ request.user.phone_number }}</p>

                <div style="display: flex;">
                    <button type="submit"> <a href='cart/'>我的收藏</a></button>
                    <button type="submit"> <a href='update_user_infor/'>更新資料</a></button>
                    <div id="Btn2" onclick="trydelete()"><button id="delete_1">刪除會員</button></div>
                    <div class="alert" id="textlistn2" style="display:none;">
                        {% for msg in messages %}{{ msg.message }}{% endfor %}
                        <button type="submit" id="delete_b2"> <a href='delete_user/'>刪除</a></button>
                        <span class="closebtn" onclick="trydelete()">&times;</span>
                    </div>
                    <button type="submit"> <a href='../../GetHand/'>前往抓取手部比例</a></button>
                </div>
            </div>


            <!-- 垂直分隔線 -->
            <hr class="cline">

            <div> <!-- 會員手部資料（右） -->
                <p>123</p>
                <ol>
                    {% for instance in size_list %}
                        <li>{{ instance.id }}</li>
                    {% endfor %}
                </ol>
            </div>


        </div>
    {% endif %}
    <script>
        function trylogout(){
            var Btn = document.getElementById('Btn');
            var textlistn = document.getElementById('textlistn');
            if (textlistn.style.display === 'none') {
                textlistn.style.display = 'block';
                Btn.style.display = 'none';
            }
            else {
                textlistn.style.display = 'none';
                Btn.style.display = 'block';
            }
        }

        function trydelete(){
            var Btn2 = document.getElementById('Btn2');
            var textlistn2 = document.getElementById('textlistn2');
            if (textlistn2.style.display === 'none') {
                textlistn2.style.display = 'block';
                Btn2.style.display = 'none';
            }
            else {
                textlistn2.style.display = 'none';
                Btn2.style.display = 'block';
            }
        }
    </script>
{% endblock %}